* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/*------------------------------Header------------------------------*/

/*-----This handles the image container and list-----*/
.navbar {
    display: flex;
    /*Fits the flex items(image & list) in one line*/
    justify-content: space-between;
    /*Places the logo on one end and links on the other end*/
    height: 70px;
    line-height: 70px;
    background-color: #102542;
}

/*-----Handles the image container-----*/
.logo-image a,
span {
    display: flex;
    font-size: 1.5rem;
    margin: 0px 5px;
}

.logo-image img {
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}

/*-----Handles the list container-----*/
.navbar-links {}

/*Used to stylize the list*/
.navbar-links ul {
    display: flex;
    visibility: visible;
    /*Places the list items into the line, wraps for reponsiveness and places them at the end of the screen.*/
}

.navbar-links li {
    padding: 0px 10px;
}

/*Style the links*/
.navbar-links li a {
    display: block;
    width: 100px;
    text-align: center;
    font-size: 1.1rem;
}

/*Instead of (li a) I've used li only so that the entire list item when hovered on changes color*/
.navbar-links li:hover {
    background: linear-gradient(#102542, #A491D3);
}

/*---Making the navbar reponsive for smaller screens---*/

/*Making the input and bar invisible for larger screens*/
#check {
    display: none;
}

.checkbtn img {
    width: 30px;
    height: 70px;
    display: none;
}

@media (max-width: 670px) {

    /*Setting the navlinks*/
    .navbar-links ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        background: #102542;
        top: 70px;
        left: 0;
        visibility: visible;
        align-items: center;
        transition: all 0.5s;
    }

    .navbar-links ul li a {
        font-size: 20px;
    }

    /*Making the bar visible*/
    .checkbtn img {
        width: 30px;
        height: 70px;
        display: block;
        margin: 0px 10px;
    }

    /*When bar is clicked; checkbox will be checked and links hidden*/
    #check:checked~.navbar-links ul {
        visibility: hidden;
        transition: all 0.5s;
    }
}

/*------------------------------Landing Page------------------------------*/
.banner-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    /*0.9*/
}

/* .banner-image img:hover {
    opacity: 1;
}
 */
.banner-text {
    position: absolute;
    left: 50%;
    top: 70%;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-align: center;
}

/*------------------------------About Me------------------------------*/
.abt-title {
    grid-area: at;
    margin: 10px;
    font-size: 2rem;
    color: #102542;
}

.abt-profile {
    grid-area: ap;
    display: flex;
    justify-content: center;
}

.abt-name {
    grid-area: an;
    background-color: #102542;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin: 10px;
}

.abt-desc {
    grid-area: ad;
    background-color: #A491D3;
    color: #102542;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin: 10px;
}

.about {
    display: grid;
    background-color: #A491D3;
    border-radius: 10px;
    margin: 5px;
}

.abt-profile img {
    height: auto;
    width: 300px;
    border-radius: 50%;
}

/*Making the about page responsive for different screen sizes with media query*/
@media (min-width: 100px) {
    #about {
        grid-template-columns: 1fr;
        grid-template-areas:
            "at"
            "ap"
            "an"
            "ad";
    }
}

@media(min-width: 900px) {
    #about {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "at at"
            "ap an"
            "ad ad";
    }
}

/*------------------------------Footer------------------------------*/
.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
}

.wrapper {
    background-color: #102542;
    color: #FFFFFF;
    padding-top: 10px;
    border-radius: 10px;
    margin: 5px;
}

/*Creating grid layout for the footer*/
.foo-email {
    grid-area: fe;
    height: 50px;
    margin: 10px;
}

.foo-logo {
    grid-area: fl;
}

.foo-links {
    grid-area: fls;
    border-right: 1px solid #FFFFFF;
}

.foo-call {
    grid-area: fc;
    border-right: 1px solid #FFFFFF;
}

.foo-social {
    grid-area: fs;
}

.foo-text {
    grid-area: ft;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.foo-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
        "fe fe fl"
        "fls fc fs"
        "ft ft ft";
}

/*-----Customizing the footer-----*/

/*---Email section---*/
.form-field {
    /*Input*/
    background-color: #102542;
    color: #FFFFFF;
    border: 0px;
    border-bottom: 2px solid #FFFFFF;
    outline: 0px;
    box-shadow: none;
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
}

.form-label {
    /*Label*/
    position: relative;
    top: 0px;
}

.form-control {
    display: flex;
}

.btn-submit {
    background-color: #A491D3;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #FE5F55;
    color: #FFFFFF;
}

/*---Logo section---*/
.foo-logo img {
    height: 100px;
    margin: 10px 10px;
}

/*Links section*/
.foo-links ul {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.foo-links li a:hover {
    color: #FE5F55;
}

/*Call section*/
.foo-call span {
    font-size: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
}

/*---Socials section*/
.foo-social span {
    font-size: 1.5rem;
}

.foo-social img {
    height: 30px;
    width: 30px;
    margin: 0px 10px;
    align-items: center;
}

/*---Copyright section*/
.foo-text span {
    display: grid;
    color: #102542;
    text-align: center;
    bottom: 0px;
    font-size: 1rem;
}